$primary-color: #4A748B;
$primary-color1: #7496A8;
$primary-color2: #2B5871;
$primary-color3: #154158;
$primary-color4: #04293C;

$secondary-color: #DBBE6F;
$secondary-color1: #FFE8AB;
$secondary-color2: #B1923D;
$secondary-color3: #8B6D1B;
$secondary-color4: #5F4602;

$thirdary-color: #DB876F;
$thirdary-color1: #FFBEAB;
$thirdary-color2: #B1573D;
$thirdary-color3: #8B341B;
$thirdary-color4: #5F1702;



