@import"_variable.scss";
@import"_font-family.scss";


body{
background-color: $primary-color1;
  font-family: 'Montserrat', monospace;
}

header{
  background-color: $primary-color;
  text-align: center;
  font-family:'Poppins', cursive;
  h1 {
    color: $primary-color4;
    text-align: center;
    padding: 20px;
    margin: 0;
    font-size: 4em;
  }
  >div#burger {
    display:inline;
    > nav.menu {
      text-decoration: none;
      li {
        display: inline;
        margin: 30px;
      }
      a {
        font-family: 'Poppins', cursive;
        display: inline-block;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        color: $thirdary-color4;
        padding: 15px;
      }
    }
    > img#burger-menu-icon{
      display:none;
    }
  }
}

main{
  margin:20px;
  padding: 0;

}

h2 {
  color: $thirdary-color4;
  font-family: 'Montserrat', monospace;
  font-size: 2em;
}

p {
  font-size: 1.5em;
  text-align: center;
}
#about, #portfolio, #contact {
  padding: 20px;
}
.presentation>img {
  width: 50%;
  border-radius: 5px;
  border: groove 8px $secondary-color3;
}

.presentation {
  display: flex;
  align-items: center;
  flex-direction: row;

}

#portfolio>div.vignette {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


#portfolio>div.vignette>img{
  margin: 10px;
  border-radius: 5px;
  border: groove 8px $secondary-color3;
  filter: grayscale(80%)
}

#portfolio>div.vignette>img:hover{
  transform: scale(1.1);
  filter: grayscale(0)
}

form {
  height: 300px;
  width: 222px;
  border:  $thirdary-color4 6px groove;
  background-color:$secondary-color;
  margin: auto;
  padding: 5px;
  font-family: "Roboto", sans-serif;
}

form > label{
  line-height: 1.30;
  color: $thirdary-color4;
}
form>input.bordure, textarea {
  width: 96%;
  border: 2px solid $thirdary-color4;
  border-radius: 4px;

}

.block_cta>input {
  color: $primary-color4;
  background-color: $primary-color1;
  border:$primary-color4 solid 1px;
  padding:5px;
}

.block_cta>input:hover {
  color: $primary-color1;
  background-color: $primary-color4;
  border:$primary-color1 solid 1px;
}

.footer {
  background-color: $thirdary-color;
  border: 2px double $thirdary-color4;
  text-align: center;
}

.footer > p {
  font-size: 0.8em;
  font-family: "Roboto", sans-serif;
  text-align: end;
  color: $thirdary-color4;
}

.liens {
  display: inline;
  margin: 30px;
}

.liens>a {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: $thirdary-color4;
  padding: 10px;
}


@media screen and (max-width: 600px) {
  header>div#burger {
    display:block;
  }
  header>div#burger > img#burger-menu-icon{
    display:block;
  }

  header>div#burger:hover >nav.menu>a {
    display: flex;
    flex-direction: column;
    background-color: $secondary-color;
  }

  header>div#burger >nav.menu>a {
    display:none;
  }

  .presentation {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .presentation>img {
    width: 100%;
    border-radius: 5px;
    border: groove 8px $secondary-color3;
  }
  #portfolio>div.vignette {
    display:grid;
    justify-content: center;
  }

  .liens>a {
    font-size: 1rem;
    padding: 5px;
  }
}