@import"_variable.scss";
@import"_font-family.scss";


body{
background-color: $primary-color1;
  font-family:  $font-family-secondary, monospace;

  > header {
    background-color: $primary-color;
    text-align: center;
    font-family:$font-family-primary, cursive;
    > h1 {
      color: $primary-color4;
      text-align: center;
      padding: 20px;
      margin: 0;
      font-size: 4em;
    }
    > div#burger {
      display:inline;

      > nav.menu {
        text-decoration: none;
        display: inline-block;

        > a {
          font-family: $font-family-primary, cursive;
          display: inline-block;
          font-size: 2rem;
          text-transform: uppercase;
          font-weight: bold;
          text-decoration: none;
          color: $thirdary-color4;
          padding: 15px;
        }
      }
      > img#burger-menu-icon{
        display:none;
      }
    }
  }

  > main {
    margin:20px;
    padding: 0;

    > section#about > div.presentation {
      display: flex;
      align-items: center;
      flex-direction: row;



      > img {
        width: 50%;
        border-radius: 5px;
        border: groove 8px $secondary-color3;
      }

      p {
        font-size: 1.5em;
        text-align: center;
      }
    }

    > section {

      > h2 {
        color: $thirdary-color4;
        font-family: $font-family-secondary, monospace;
        font-size: 2em;
      }

      &#about, &#portfolio, &#contact {
        padding: 20px;
      }
    }



    > section#contact > form {
      height: 300px;
      width: 222px;
      border:  $thirdary-color4 6px groove;
      background-color:$secondary-color;
      margin: auto;
      padding: 5px;
      font-family: $font-family-thirdary, sans-serif;

      > label{
        line-height: 1.30;
        color: $thirdary-color4;
      }

      > input.bordure, textarea {
        width: 96%;
        border: 2px solid $thirdary-color4;
        border-radius: 4px;
      }

      > div.block_cta {
        display: flex;
        justify-content: space-evenly;

        > input {
          color: $primary-color4;
          background-color: $primary-color1;
          border:$primary-color4 solid 1px;
          border-radius: 4px;
          box-shadow: $secondary-color3 5px 5px;
          padding:5px;

          &:hover {
            color: $primary-color1;
            background-color: $primary-color4;
            border:$primary-color1 solid 1px;
          }

          &:active {
            transform: translateY(1px) translateX(1px);
            box-shadow: $secondary-color4 2px 2px;
          }
        }
      }
    }

    > section#portfolio > div.vignette {
      display:flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      >img{
        margin: 10px;
        border-radius: 5px;
        border: groove 8px $secondary-color3;
        filter: grayscale(80%);

        &:hover{
          transform: scale(1.1);
          filter: grayscale(0)
        }
      }
    }
  }

  footer.footer {
    background-color: $thirdary-color;
    border: 2px double $thirdary-color4;
    text-align: center;

    > div.liens {
      display: inline;
      margin: 30px;

      > a {
        font-family: $font-family-thirdary, sans-serif;
        display: inline-block;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        color: $thirdary-color4;
        padding: 10px;
      }
    }

    > p {
      font-size: 0.8em;
      font-family: $font-family-thirdary, sans-serif;
      text-align: end;
      color: $thirdary-color4;
    }
  }

}



@media screen and (max-width: 600px) {
  body {

    > header#header > div#burger {
      display: block;

      > img#burger-menu-icon {
        display: block;
      }

      > nav.menu > a {
        display: none;
      }

      &:hover > nav.menu > a {
        display: flex;
        flex-direction: column;
        background-color: $secondary-color;
      }
    }

    main {

      > section#about > div.presentation {
        flex-direction: column;

        > img {
          width: 100%;
          border-radius: 5px;
          border: groove 8px $secondary-color3;
        }
      }

      section#portfolio > div.vignette {
        display: grid;
        justify-content: center;
      }
    }

    footer.footer > div.liens > a {
      font-size: 1rem;
      padding: 5px;
    }
  }
}